:root {
  --vp-c-indigo-1: #dc143c;
  --vp-c-indigo-2: #dc143c;
  --vp-c-indigo-3: #dc143c;
}

.VPDoc .container .aside {
  display: none;
}
.pager {
  display: none;
}
.VPLocalNavOutlineDropdown {
  display: none;
}

:root:not(.dark) img[alt$='Lambda Live Debugger_'] {
  display: none;
}

:root:is(.dark) img[alt$='Lambda Live Debugger'] {
  display: none;
}

.VPSidebar {
  padding-bottom: 20px !important;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root:not(.dark) .dark-mode {
  display: none;
}

:root:is(.dark) .light-mode {
  display: none;
}