:root {
  --vp-c-indigo-1: #dc143c;
  --vp-c-indigo-2: #dc143c;
  --vp-c-indigo-3: #dc143c;
}

.VPDoc .container .aside {
  display: none;
}
.pager {
  display: none;
}

:root:not(.dark) img[alt$='Lambda Live Debugger_'] {
  display: none;
}

:root:is(.dark) img[alt$='Lambda Live Debugger'] {
  display: none;
}
