name: Test with real npm - all combinations

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Specify the version of the package'
        type: string
        required: true

permissions:
  id-token: write
  contents: write

jobs:
  test-global-not-monorepo:
    uses: ./.github/workflows/common-test.yml
    with:
      mode: global
      testMonorepo: false
      version: ${{ inputs.version }}
      useLocalStack: false
    secrets: inherit

  test-global-not-monorepo-localstack:
    uses: ./.github/workflows/common-test.yml
    with:
      mode: global
      testMonorepo: false
      version: ${{ inputs.version }}
      useLocalStack: true
    secrets: inherit

  test-local-not-monorepo:
    needs: test-global-not-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: local
      testMonorepo: false
      version: ${{ inputs.version }}
      useLocalStack: false
    secrets: inherit

  test-local-not-monorepo-localstack:
    needs: test-global-not-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: local
      testMonorepo: false
      version: ${{ inputs.version }}
      useLocalStack: true
    secrets: inherit

  test-global-monorepo:
    needs: test-local-not-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: global
      testMonorepo: true
      version: ${{ inputs.version }}
      useLocalStack: false
    secrets: inherit

  test-global-monorepo-localstack:
    needs: test-local-not-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: global
      testMonorepo: true
      version: ${{ inputs.version }}
      useLocalStack: true
    secrets: inherit

  test-local-monorepo:
    needs: test-global-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: local
      testMonorepo: true
      version: ${{ inputs.version }}
      useLocalStack: false
    secrets: inherit

  test-local-monorepo-localstack:
    needs: test-global-monorepo
    uses: ./.github/workflows/common-test.yml
    with:
      mode: local
      testMonorepo: true
      version: ${{ inputs.version }}
      useLocalStack: true
    secrets: inherit
